.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.card-container{

    width:30vw;
    max-width:250px;
    img{
        width:30vw;
        max-width:200px;
    }
}