@media (orientation: portrait) {
  .my-pokemon {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #184D47;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
  }
  .my-pokemon .all-my-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -1rem -1rem;
    padding-right: 1.5rem;
    padding-left: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 1rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: scroll;
  }
  .my-pokemon .all-my-collection .pokemon-collection {
    width: 100%;
    color: white;
    display: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .my-pokemon .all-my-collection .pokemon-collection:last-child {
    margin-bottom: 5rem;
  }
  .my-pokemon img {
    width: 30vw;
  }
  .my-pokemon .img-container {
    text-align: center;
  }
  .my-pokemon h1 {
    font-family: 'pokemon';
    color: white;
    font-size: 9vw;
  }
  .my-pokemon button {
    color: white;
    width: 4rem;
    height: 2rem;
    background: #b90736;
    border: 0;
    border-radius: 0.3rem;
  }
}

@media (orientation: landscape) {
  .my-pokemon {
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #184D47;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
  }
  .my-pokemon .all-my-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -1rem -1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1rem;
    margin-top: 3vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: scroll;
  }
  .my-pokemon .all-my-collection .pokemon-collection {
    color: white;
    display: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 31rem;
    margin-right: 3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .my-pokemon .all-my-collection .pokemon-collection:last-child {
    margin-bottom: 5rem;
  }
  .my-pokemon img {
    width: 30vw;
    max-width: 150px;
  }
  .my-pokemon .img-container {
    text-align: center;
  }
  .my-pokemon h1 {
    font-family: 'pokemon';
    color: white;
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 5vw;
    color: white;
    margin: 0 0 auto 0;
  }
  .my-pokemon button {
    color: white;
    width: 4rem;
    height: 2rem;
    background: #b90736;
    border: 0;
    border-radius: 0.3rem;
  }
}
/*# sourceMappingURL=MyPokemonList.css.map */